Repository neverendingqs/serverless-dotenv-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation

fix(workflows/labeler): update to latest config file syntax. (#270)
  .github/workflows/labeler.yml
Labels: chore

fix: remove support for non-LTS version (Node.js v15).
  .github/workflows/ci.yaml
Labels: chore

fix: update peer dep in integration tests.
  examples/simple-express-app/package.json
Labels: documentation

fix: update peer dep in integration tests.
  examples/simple-express-app/package.json
Labels: documentation

fix: remove support for non-LTS Node.js version.
  .github/workflows/ci.yaml
Labels: chore

fix: link to current proj instead of from npm.
  .github/workflows/ci.yaml
Labels: chore

fix: remove package from int test package.json so link will create it instead?
  examples/simple-express-app/package.json
Labels: documentation

fix: update package-lock.
  examples/simple-express-app/package-lock.json
Labels: documentation

fix: two levels up.
  .github/workflows/ci.yaml
Labels: chore

fix: don't package linked package.
  examples/simple-express-app/serverless.yml
Labels: documentation

fix: only support active LTS versions.
  .github/workflows/ci.yaml
Labels: chore

fix: update publish and coveralls Node.js version.
  .github/workflows/ci.yaml
Labels: chore

fix: add sls access key to CI.
  .github/workflows/ci.yaml
Labels: chore

fix: remove support for sls v1.
  .github/workflows/ci.yaml
Labels: chore

fix: update peer dep requirements.
  examples/simple-express-app/package.json
  package.json
Labels: chore, documentation

.github/labeler.yml:

chore:
  - .*
  - .github/**/*
  - LICENSE
  - package.json

documentation:
  - CHANGELOG.md
  - examples/**/*
  - README.md
